*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
/gradle.properties
/app/client_secret_421194947787-esd4uqfhfmg6rbkoere0q07rd94rk310.apps.googleusercontent.com.json
/app/google-services.json
/app/src/main/javascript/chat-app/.env
/app/javascriptquiz01-firebase-adminsdk-7zfdf-2843bcb0b1.json
settings.gradle.kts
gradlew.bat
gradlew
build.gradle.kts
.idea
gradle/wrapper
app/proguard-rules.pro
app/src/androidTest
app/src/test
app/src/main/sentimentAnalysis/node_modules
app/src/main/javascript/chat-app/node_modules
/app/src/main/java/com/abtahiapp/dontworry/utils/BaseUrls.kt