*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
/gradle.properties
/app/client_secret_421194947787-esd4uqfhfmg6rbkoere0q07rd94rk310.apps.googleusercontent.com.json
/app/google-services.json