<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DontWorryYourPersonalTherapist"
        tools:targetApi="31">
        <activity
            android:name=".activity.PersonalSpaceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyPostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SocialSpaceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlacesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WeatherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MovieActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InfoUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>